
body {
    background: black;
}

article p{
    text-align: justify;
}

article h1 {
    -webkit-text-stroke: .4vh white;
    font-size: 5vh;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    background-image: url('../assets/img/background_01.jpg');
    background-clip: content-box;
    -webkit-background-clip: content-box;
    color: transparent;
    animation: text 10s ease alternate infinite;
    border-radius: 15px;
}

@keyframes text {
    from {
        background-position: 0% 50%;
    }

    to {
        background-position: 100% 50%;
    }
}
